/*  this is my stylesheet for the homepage */
/* table of contents */
/* header styles */
/* main body styles */
/* footer styles */

h1, h6 {font-family: cursive;}

header {}
header h1 {color:red; background-color: yellow;}
nav {}
footer {}





* {outline: 1px solid red;}

/* header styles */

/* main body styles */

/* footer styles */
